{% extends "admin/base.html" %} {% block content %}
<div class="container w-50 text-dark  my-5">
    <h2>Add Quiz</h2>
  <form method="post">
    <label for="" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" />
    <label for="" class="form-label">Description</label>
    <input type="text" name="description" id="description" class="form-control" />
    <input type="submit" value="Add" name="submit" class=" btn btn-primary my-5 form-control">
  </form>
</div>

{% endblock %}
